<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TodoList</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header class="header">
    <h1 class="titulo">To do List</h1>
    <button class="button">
       ☰
    </button>

    <nav class="nav">
    <a href="#todasTarefas">Suas Tarefas</a>
    <a href="#naoIniciada">Não Iniciada</a>
    <a href="#andamento">Em Andamento</a>
    <a href="#concluido">Concluída</a>
    </nav>
  </header>

  {{{body}}}
  
  <footer class="footer">
    <p>&copy; Desenvolvido por Carlos Eduardo e Gabriela Guedes</p>
  </footer>
</body>
</html>