{{#each data}}
  <div>
    <form action="/deletetask/{{this.id}}" method="post">
      <h3>{{this.task}}</h3>
      <input type="submit" value="deletar">
      <input type="hidden" name="id" value="{{this.id}}">
      <a href="/updatetask/{{this.id}}">editar</a>
    </form>
  </div>
{{/each}}