{{#each data}}
<a href="/taskdescription/{{this.id}}">
  <div class="taskCard">
    <form action="/deletetask/{{this.id}}" method="post">
      <h3>{{this.task}}</h3>
      <div>
        <input type="submit" value="deletar">
        <button><a href="/updatetask/{{this.id}}">editar</a></button>
      </div>
    </form>
  </div>
</a>
{{/each}}