<div>
  <form action="/addTask" method="post">
    <div>
      <label for="task">Tarefa</label>
      <input type="text" name="task" placeholder="insira sua tarefa">
    </div>
    <div>
      <label for="description">descrição</label>
      <input type="text" name="description" placeholder="insira sua tarefa">
    </div>
    <input type="submit" value="Cadastrar">
  </form>
</div>