body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  padding: 5px;
  background-color: rgb(194, 194, 194);
  border: none;
  border-radius: 5px;
}

input::placeholder {
  color: rgb(46, 46, 46);
}

.task {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}